{% extends 'base.html' %}

{% block title %}Senha Alterada{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Senha Alterada</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">
                        Sua senha foi alterada com sucesso! 
                        Agora você pode fazer login com sua nova senha.
                    </p>
                    <div class="text-center mt-3">
                        <a href="{% url 'core:login' %}" class="btn btn-primary">Fazer Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 