{% extends 'base_internal.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-1 text-info">404</h1>
            <h2 class="mb-4">Página não encontrada</h2>
            <p class="lead">A página que você está procurando não existe ou foi movida.</p>
            <a href="{% url 'core:index' %}" class="btn btn-primary">Voltar para a página inicial</a>
        </div>
    </div>
</div>
{% endblock %} 